fastapi
uvicorn
streamlit

langchain
langgraph
langchain-openai
langchain-community

openai

pydantic
python-dotenv

pandas
numpy

sqlalchemy

jinja2

apscheduler
email-validator
python-multipart

httpx
requests

langsmith
pytest
tqdm

ipykernel

-e .